.home {
  background-image: linear-gradient(grey, black),
    url(/src/assets/images/clark-street-mercantile-qnKhZJPKFD8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% 40%;
  background-blend-mode: multiply;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 11.7%;
}

.home h2 {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 0px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: #f5f6fa;
}

.home h6 {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 8pt;
  color: #dcdde1;
}

.home a {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 8.5%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #e84118;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 3px solid #e84118;
}

.home a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #be3512;
  border: 3px solid #be3512;
}

@media (min-width: 300px) and (max-width: 568px) {
  .home {
    background-image: linear-gradient(grey, black),
      url(/src/assets/images/clark-street-mercantile-qnKhZJPKFD8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 520%;
    background-position: 50% 40%;
    background-blend-mode: multiply;
    margin-left: auto;
    margin-right: auto;
    margin-top: -39%;
  }

  .home h2{
    margin-top: 70%;
    font-size: 36pt;
  }

  .home h6{
    font-size: 4pt;
    margin-bottom: 35pt;
  }

  .home a{
    font-size: 10pt;
    margin-bottom: 78.6%;
  }
}
