.signUp {
  margin-top: 20px;
  padding: 40px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ced4da;
  width: 550px;
  font-family: "Raleway", sans-serif;
}

.signUp h6 {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  color: #ced4da;
}

.signUp h2 {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}

.signUp hr {
  margin-bottom: 7%;
}

.form-signUp label {
  text-align: left;
  padding-right: 0px;
  margin-right: -20px;
}

.form-signUp .form-control {
  margin-bottom: 5px;
  padding: 8px 18px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.form-signUp button {
  margin-top: 17px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  letter-spacing: 1pt;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #e84118;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 3px solid #e84118;
}

.signUp .aCreate {
  font-size: 18px;
  font-weight: bolder;
  color: #e84118;
}

.signUp .aCreate:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #b63211;
}

.signUp a {
  align-items: center;
  font-size: 12px;
  color: #00a8ff;
}

.signUp a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #027dbb;
}
