.about {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/clark-street-mercantile-P3pI6xzovu0-unsplash-cropped.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% 40%;
  background-blend-mode: multiply;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 13%;
  font-family: "Raleway", sans-serif;
}

.about h2 {
  margin-top: 20%;
  font-size: 67px;
  color: #f5f6fa;
}

.about h2 span {
  display: block;
}

.about h5 {
  margin-top: 25%;
  font-size: 11px;
  color: #dcdde1;
}

.about h5 span {
  display: block;
  line-height: 1.75;
}

.about a {
  margin-top: 2%;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14pt;
  font-weight: bolder;
  color: #00a8ff;
  width: fit-content;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #00a8ff;
}

.about a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #027dbb;
  border: 2px solid #027dbb;
}

.teams {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 20px;
  width: fit-content;
  border: 1px solid #ced4da;
  font-family: "Kanit", sans-serif;
}

.teams h6 {
  font-family: "Raleway", sans-serif;
  color: #ced4da;
  font-size: 12pt;
}

.teams h3 {
  margin-bottom: -35px;
  font-size: 32pt;
}

.teams hr {
  margin-bottom: 35px;
  width: 20%;
}

.teams h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 12pt;
  color: #ced4da;
}

@media (min-width: 300px) and (max-width: 568px) {
  .about {
    background-image: linear-gradient(grey, grey),
      url(/src/assets/images/clark-street-mercantile-P3pI6xzovu0-unsplash-cropped.jpg);
    background-repeat: no-repeat;
    background-size: 520%;
    background-position: 50% 40%;
    background-blend-mode: multiply;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 13%;
    font-family: "Raleway", sans-serif;
  }

  .about h2 {
    margin-top: 10%;
    font-size: 48px;
  }

  .about h5 {
    margin-top: 5%;
    font-size: 7pt;
  }

  .teams h4 {
    font-size: 8pt;
  }
}
