.header-shop {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/ashim-d-silva-ZmgJiztRHXE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: "Raleway", sans-serif;
}

.header-shop .header h1 {
  color: #f5f6fa;
}

.header-shop .aCategory {
  margin-left: 15px;
  margin-right: 15px;
  width: 10%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ced4da;
}

.header-shop .aCategory:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #a6adb4;
}

.shop {
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.shop a {
  color: #f5f6fa;
}

.shop a:hover {
  color: #c8c9ca;
}

.shop .card-img-top {
  filter: brightness(70%);
}

@media (min-width: 300px) and (max-width: 568px) {
  .header-shop .aCategory {
    font-size: 6pt;
    width: 30%;
    padding: 8px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .shop .card-title{
    font-size: 5pt;
  }

  .shop .title-shop{
    font-size: 7.5pt;
  }
}
