.summary {
  font-family: "Raleway", sans-serif;
}

.summary .row h6 {
  margin-bottom: 5%;
  color: #b2bec3;
}

.summary hr {
  margin-top: 0px;
}

.summary button {
  width: 50%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #e84118;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 3px solid #e84118;
}

.summary .aPlace {
  font-size: 18px;
  font-weight: bolder;
  color: #e84118;
}

.summary .aPlace:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #b63211;
}
