.productCustom {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.productCustom .card-productCustom {
  min-width: fit-content;
  min-height: 100px;
  border: 1px solid #eee;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 8px 20px #ddd;
  margin: 10px;
  transition: 0.5s linear;
}

.productCustom .card-productCustom:hover {
  box-shadow: none;
}

.productCustom .card-productCustom img {
  max-width: 300px;
  width: 50%;
  height: auto;
  max-height: 300px;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.productCustom .card-productCustom h3 {
  font-size: 14pt;
  text-transform: uppercase;
  margin: 10px 0;
}

.productCustom .card-productCustom h3 a {
  text-decoration: none;
  color: #333;
}

.productCustom .card-productCustom h3 a:hover {
  color: crimson;
}

.productCustom .card-productCustom span {
  color: crimson;
}

.productCustom .card-productCustom button {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
  background: #333;
  color: white;
  width: fit-content;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 300px) and (max-width: 568px) {
  .productCustom .card-productCustom h3 {
    font-size: 10pt;
  }

  .productCustom .card-productCustom button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 7pt;
    height: 32px;
    letter-spacing: 0px;
  }
}
