.team .card {
  border: 0px solid #f5f7f8;
  font-family: "Kanit", sans-serif;
  padding-bottom: -100px;
}

.team .card-body {
  max-height: fit-content;
  padding: 0rem;
}

.team .card-img-top {
  width: 75%;
  height: 40%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid #000000;
}

.team .card-title {
  margin-top: 15px;
}

.team .card-text {
  margin-bottom: -100%;
  margin-top: -10px;
  color: #ced4da;
}

@media (min-width: 300px) and (max-width: 568px) {
  .team .card-img-top {
    width: 45%;
    height: 10%;
  }

  .team .card-title {
    margin-top: 10px;
  }

  .team .card-text {
    margin-bottom: 5%;
  }
}
