.newArrival {
  font-family: "Kanit", sans-serif;
}

.newArrival .head-newArrival h4 span,
.newArrival .body-newArrival h4 span {
  display: block;
  margin-top: 10px;
}

.newArrival .head-newArrival .motto-newArrival,
.newArrival .body-newArrival .motto-newArrival {
  font-size: 32pt;
  font-weight: 600;
  color: #343a40;
}

.newArrival .head-newArrival .description-newArrival,
.newArrival .body-newArrival .description-newArrival {
  font-size: 11pt;
  color: #343a40;
  line-height: 24px;
}

.newArrival .head-newArrival a,
.newArrival .body-newArrival a {
  margin-left: 15px;
  width: fit-content;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #343a40;
  padding: 10pt;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #343a40;
}

.newArrival .head-newArrival a:hover,
.newArrival .body-newArrival a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #a6adb4;
}

.newArrival .head-newArrival img {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.border-newArrival {
  background-image: linear-gradient(grey, grey),
    url(/src/assets/images/jezael-melgoza-layMbSJ3YOE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 30%;
  background-blend-mode: multiply;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 1.5%;
  margin-bottom: 20px;
}

.border-newArrival h2 {
  color: #f5f6fa;
}

.newArrival .body-newArrival img {
  margin-bottom: 30px;
  width: 70%;
}