.NavLink {
  color: rgb(100, 100, 100);
  margin-right: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.NavLink:hover {
  color: rgb(36, 35, 35);
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 568px) {
  .NavLink {
    margin-top: 12px;
  }
}

/* .navbar-custom .navbar-brand {
  font-size: 30pt;
  color: #000000;
}

.navbar-custom .navbar-nav a {
  font-weight: bold;
  color: #000000;
}

.navbar-custom .navbar-nav a:hover {
  font-weight: bold;
  color: #424242;
}

.navbar-custom .navbar-nav .saleBar-custom {
  background-color: #ff0000;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
  color: #ffffff;
  font-weight: bolder;
} */


