.checkout {
  padding: 40px;
  font-family: "Raleway", sans-serif;
}

.checkout h6 {
  color: #ced4da;
}

.checkout h2 {
  margin-bottom: -10px;
}
 
.checkout a {
  color: #00a8ff;
}

.checkout a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #027dbb;
}

/* @media (min-width: 300px) and (max-width: 568px) {
} */
