.confirmed {
  margin-top: 7%;
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 55px;
  width: 40%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ced4da;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
}

.tick-confirmed {
  fill: #2ecc71;
}

.confirmed h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: "Kanit", sans-serif;
}

.confirmed h2 span {
  display: block;
}

.confirmed .brand-confirmed {
  text-transform: capitalize;
  color: #ced4da;
  font-size: 12pt;
  letter-spacing: 0px;
  font-family: "Raleway", sans-serif;
}

.confirmed .message-confirmed {
  margin-top: 15px;
  font-size: 10pt;
  letter-spacing: 0px;
  text-transform: none;
  font-family: "Raleway", sans-serif;
  line-height: 20px;
}

.confirmed .message-confirmed a {
  color: #00a8ff;
}

.confirmed .message-confirmed a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #027dbb;
}
